.App {
  text-align: center;
  background-color: black;
  
}

body { 
  background-color: rgb(245, 245, 245);

  /* background-image: url("/public/geometricBackground.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;  */

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

p, h1, h2 {
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.topNamePlate {
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
  padding-left: 2%;
  gap: 3%;
  font-size: 2vh;
  font-weight: 700;
  box-sizing: border-box; 
  background: linear-gradient(to bottom, rgb(30, 0, 112), rgb(45, 0, 168));
  border-bottom: 5px solid rgb(255, 210, 87);
  background-color: black;
  color: white;

  width: 100%;
  height: 8%;

  position: absolute; 
  top: 0%;
  left: 0%; 
}

.searchBar {
  display: grid;
  place-items: center;
  font-size: 2vh;
  text-indent: 20px;
  grid-template-columns: 180px 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0px 0px 3px grey;

  width: 20%;
  height: 4%;
  box-sizing: border-box; 
  border: 0px;

  position: absolute;
  top: 11%;
  left: 1%;
}

.results {
  background-color: #ffffff;
  z-index: 1000;
  font-size: 2vh;
  text-indent: 10px;


  width: 20%;
  box-shadow: 0px 0px 5px grey;

  position: absolute;
  top: 15%;
  left: 1%;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.result-item:last-child {
  border-bottom: none;
}

.no-results {
  padding: 10px;
  color: #999;
}

.calendarTitle {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  font-size: 2.5vh;
  font-weight: 500;
  width: 65%;
  height: 6%;
  box-sizing: border-box; 
  background: linear-gradient(to bottom, rgb(30, 0, 112), rgb(45, 0, 168));
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid rgb(255, 210, 87);
  
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;

  position: absolute;
  top: 16%;
  right: 1%;
}

.calendarButton {
  display: grid;
  background-color: hsla(0, 0%, 100%, 0);
  color: rgb(255, 255, 255);
  border: 0px;
  font-size: 3vh;
  font-weight: 100;
  cursor: pointer;
  transition: 0.3s;
  
  position: absolute;
}

.calendarButton:hover {
  color: rgb(185, 185, 185);
}

.bt1 {
  left: 40%;
}

.bt2 {
  right: 40%;
}

.daysOfWeek {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, 2fr);
  background-color: rgb(255, 255, 255);
  
  color: rgb(0, 0, 0);
  font-size: 2vh;
  border: 0.5px solid rgba(0, 0, 0, 0.25);

  width: 65%;
  height: 3%;
  box-sizing: border-box; 
  /* box-shadow: 0px 0px 5px grey; */

  position: absolute;
  top: 22%;
  right: 1%;
}

.daysGrid {
  display: grid;

  width: 65%;
  height: 74%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box; 

  grid-template-columns: repeat(7, 2fr); 
  grid-template-rows: repeat(5, 2fr); 
  /* box-shadow: 0px 0px 5px grey; */

  position: absolute;
  top: 25%;
  right: 1%;
}

.highlight {
  background-color: rgb(45, 0, 168);
  box-shadow: 0px 0px 5px grey;
  color: rgb(255, 255, 255);
  z-index: 100;
}

.daysGridArrays {
  display: flex;
  justify-content: left;
  align-items: top;
  font-size: 16px;
  font-weight: bold;
  font-size: 1.7vh;

  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  scrollbar-width: thin;

  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
  border: 0.5px solid rgb(255, 210, 87);
}

.daysGridArrays:hover {
  background-color: rgb(30, 0, 112);
  box-shadow: 0px 0px 15px grey;
  z-index: 100;
  color: white;
}

.no-hover:hover {
  pointer-events: none; 
}

.past-day {
  color: rgba(0, 0, 0, 0.301);
  background-color: rgb(245, 245, 245);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  gap: 2%;

  background-color: white;
  box-shadow: 0px 0px 5px grey;
  color: rgb(5, 5, 5);
  border-radius: 10px;
  border: 3px solid rgb(255, 210, 87);
  
  z-index: 1000;

  /* transition: 0.4s; */

  position: absolute;
  bottom: 30%;
  right: 30%;
}

textarea {
  display: flex;
  text-align: center;
  height: 60%;
  width: 60%;
  font-family: 'Roboto', sans-serif;

  background-color: rgb(245, 245, 245); 
  color: rgb(0, 0, 0);
  font-size: 3vh;

  box-shadow: 0px 0px 5px grey;
  border: none;
  border-radius: 10px;
}

.modalButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #eee; */
  box-sizing: border-box;
  padding: 15px;
  width: 60%;
  gap: 5%;
}

.modalButton {
  width: 30%;
  height: 5vh;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 2.5vh;
  /* font-weight: bolder; */
  
  border: 1px solid grey;
  border-radius: 30px;
  box-shadow: 0px 0px 2px grey;
  transition: 0.5s;
  cursor: pointer;
}

.modalButton:hover {
  background-color: rgb(45, 0, 168);
  color: white;
}

.modalBackground {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;
  position: absolute;
  top: 0%;
  left: 0%;
}

.todayTitle {
  display: flex;
  text-align: left;
  align-items: center;
  text-indent: 20px;
  font-size: 2vh;
  font-weight: 500;

  width: 30%;
  height: 5%;
  background: linear-gradient(to bottom, rgb(30, 0, 112), rgb(45, 0, 168));
  
  
  color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid rgb(255, 210, 87);
  box-sizing: border-box; 
  padding-top: 5px;

  position: absolute;
  top: 16%;
  left: 1%;
}


.todayText {
  display: flex;
  text-indent: 20px;
  font-size: 2.5vh;

  width: 30%;
  height: 40%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 21%;
  left: 1%;
}

.tomorrowTitle {
  display: flex;
  align-items: center;
  text-indent: 20px;
  font-size: 2vh;
  font-weight: 500;

  width: 30%;
  height: 5%;
  background: linear-gradient(to bottom, rgb(30, 0, 112), rgb(45, 0, 168));
  color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box; 
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid rgb(255, 210, 87);
  padding-top: 5px;

  /* box-shadow: 0px 0px 5px grey; */

  position: absolute;
  top: 64%;
  left: 1%;
}

.tomorrowText {
  display: flex;
  text-indent: 20px;
  font-size: 2.5vh;

  width: 30%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box; 
  border: 0.5px solid rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 69%;
  left: 1%;
}

.disclaimer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5vh;
  padding-right: 2%;

  width: 100%;
  height: 8%;
  background-color: rgba(126, 84, 84, 0);
  color: rgb(255, 255, 255);
  box-sizing: border-box; 

  position: absolute;
  top: 0%;
  left: 0%;
}